{% extends 'base.html' %}

{% block head %}
<title>Přidat Záznam</title>
<link rel="stylesheet" href="{{url_for('static', filename='css/styly.css')}}">
{% endblock %}

{% block body %} 
<form action="/add/" method="post">
    <div class="Center">
        <h1>
            <b>Přidat záznam do deníku</b>
        </h1>
        <h3>
            <b> Všechna pole jsou povinná </b>
        </h3>

        <br>
        <br>
        <table>
            <tr>
                <td>
                    <label for="name">Programátor</label>
                </td>
                <td>
                    <select id="name" name="name" style="width: 172px;" >
                        {% for usr in users %}
                        {% if user.auth <= 1 or usr.id == user.id %}
                        <option value="{{usr.id}}">{{usr.name}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
            </tr>
            <tr>
                <td>
                    <label for="time">Čas strávený v minutách</label>
                </td>
                <td>
                    <input type="number" id="time" placeholder="čas" name="time_spent" required>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="lang">Programovací jazyk</label>
                </td>
                <td>
                    <select name="jazyk_id" id="lang">
                        {% for language in languages %}
                        <option value="{{language.id}}">{{language.name}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="Datum">Datum</label>
                </td>
                <td>
                    <input type="date" id="Datum" placeholder="datum" name="date" required>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="popis">Popis</label>
                </td>
                <td>
                    <TEXTAREA rows="5" cols="12" id="popis" name="popis" required></TEXTAREA>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="rating">Škála hodnocení naši práce</label>
                </td>
                <td>
                    <input type="radio" id="rating" Name = "hodnoceni" value="1" required>1
                    <input type="radio" id="rating2" Name = "hodnoceni" value="2" required>2
                    <input type="radio" id="rating3" Name = "hodnoceni" value="3" required>3
                    <input type="radio" id="rating4" Name = "hodnoceni" value="4" required>4
                    <input type="radio" id="rating5" Name = "hodnoceni" value="5" required>5

                </td>
            </tr>
            <tr>
                <td>Štítky</td>
                <td style=" width: 150px;">
                    {% for tag in tags %}
                    <label for="{{tag.id}}" style="color: {{tag.barva}};">{{tag.name}}</label>
                    <input type="checkbox" id="{{tag.id}}" name="{{tag.id}}">
                    {% endfor %}

                </td>
            </tr>
            {% for cat in cats %}
            <tr>
                <td> {{cat.name}}</td>
                <td>
                    {% if cat.type == String(200) %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
        <h3>
            <input type="submit" value="přidat">
        </h3>
        <br>
    </div>
</form>

{% endblock %}
