{% extends 'base.html' %}

{% block head %}
<TITLE>Upravit Záznam</TITLE>
<LINK rel="stylesheet" href="{{url_for('static', filename='css/styly.css')}}">
{% endblock %}

{% block body %}
<DIV>
    <FORM action="/update-add/{{record.id}}" method="post">
        <H1><B>Upravit záznam</B></H1>

        <BR>
        <TABLE>
            <TR>
                <TD>
                    <LABEL for="name">Programátor</TD>
                <TD><SPAN class="povinnost">*</SPAN></label></TD><TD>
                    <SELECT name="name" id="name">
                        {% for usr in users %}
                        {% if user.auth <= 2 or usr.id == user.id %}
                        <OPTION value="{{usr.id}}"
                                {% if usr.id == record.name %}
                                selected
                                {% endif %}
                        >{{usr.name}}</OPTION>
                        {% endif %}
                        {% endfor %}
                    </SELECT>
            </TR>
            <TR>
                <TD>Programovací jazyk</TD>

                <TD>
                    <SELECT name="jazyk_id">
                        {% for language in languages %}
                        <OPTION value="{{language.id}}"
                                {% if language.id == record.jazyk_id %}
                                selected
                                {% endif %}>{{language.name}}</OPTION>
                        {% endfor %}
                    </SELECT>
                </TD>
            </TR>
            <TR>
                <TD>Čas strávený v minutách</TD>

                <TD>
                    <INPUT type="number" placeholder="čas" id="time_spent" name="time_spent" value="{{record.time_spent}}">
                </TD>
            </TR>

            <TR>
                <TD>Datum</TD>
                <TD>
                    <INPUT type="date" placeholder="datum" name="date" value="{{record.date}}">
                </TD>
            </TR>
            <TR>
                <TD><LABEL for="popis">Popis</LABEL></TD>

                <td>
                    <textarea rows="5" cols="12" name="popis" id="popis" value="{{record.popis}}">{{record.popis}}</textarea>
                </td>
            </tr>
            <tr>
                <td>
                    Škála hodnocení naši práce
                </TD>
                <TD>
                    {% for i in range(5) %}
                    <INPUT type="radio" Name = "hodnoceni" value="{{i+1}}"
                           {% if i+1 == record.hodnoceni %}
                           checked
                           {% endif %}
                    >{{i+1}}
                    {% endfor %}
                </TD>
            </TR>
            <TR>
                <TD> Štítky </TD>
                <TD>
                    {% for tag in tags %}
                    <LABEL for="{{tag.id}}" style="color: {{tag.barva}};">{{tag.name}}</LABEL>
                    <INPUT type="checkbox" id="{{tag.id}}" name="{{tag.id}}"
                           {% for cat in cats %}
                           {% if cat.owned_id == record.id and cat.type_id == tag.id %}
                           checked
                           {% endif %}
                           {% endfor %}>
                    {% endfor %}
                </td>
            </tr>
        </table>
        <h3><input type="submit" value="upravit"></h3>
        <br>

    </FORM>
</DIV>
{% endblock %}
