{% extends 'base.html' %}

{% block head %}
<title>Upravit Programátora</title>
<link rel="stylesheet" href="{{url_for('static', filename='css/styly.css')}}">
{% endblock %}

{% block body %}
<div class="Center">
<form action="/user/update/{{user_to_update.id}}" method="post">



     <h1>
       <b>Upravit programátora ve výběru</b> 
    </h1>
    <h3>
        <b> všechna pole jsou povinná </b> 
    </h3>
    <br>

<table>
        <tr>
        <td>
        Jméno programátora
    </td>
    <td>
    <input type="text" placeholder="jméno" id="name" name="name" value="{{user_to_update.name}}">
    </tr>
</table>
    </form>
    <h3>   
        <br>
        <input type="submit" value="upravit">
    </h3>
    <table>
        <tr>
            <th> ID </th>
            <th> Jméno programátora </th>
        </tr>
            {% for usr in users %}
            <tr>
                <td>
                    {{usr.id}}
                </td>
                <td>
                    {{usr.name}}
                </td>
                <td>
                    <a href="/user/delete/{{usr.id}}" class="smazat confirmation">Smazat</a>
                    <a href="/user/update/{{usr.id}}">Upravit</a>
                </td>
            </tr>
            {% endfor %}

    </table>
</div>

{% endblock %}