{% extends 'base.html' %}

{% block head %}
<TITLE>Záznamy</TITLE>
<LINK rel="stylesheet" href="{{url_for('static', filename='css/styly.css')}}" >
{% endblock %}

{% block body %}    
<DIV>
    <H1>
      <B> Záznamy v deníku </B>
    </H1>
    <FORM action="/zaznamy/{{serazeni}}/" method="post">
        <H2>Filtry:</H2>
        <H4>Jazyky</H4>
        {% for language in languages %}

            <LABEL for="{{language.name}}">{{language.name}}</LABEL>
            <INPUT type="checkbox" id="{{language.name}}" name="{{language.name}}"
            {% if filtered_languages[language.id] == "on" %}
                checked
            {% endif %}
            >
        {% endfor %}
        <BR>
        <BR>
        <H4>Čas strávený v minutách</H4>
        <LABEL for="time_from">od</LABEL>
        <INPUT type="number" placeholder="od" id="time_from" name="time_from" value="{{min_time}}" required style="width: 55px;">
        <LABEL for="time_to">do</LABEL>
        <INPUT type="number" placeholder="do" id="time_to" name="time_to" value="{{max_time}}" required style="width: 55px;">
        <BR>
        <BR>

        <H4>Datum</H4>
        <LABEL for="date_from">od</LABEL>
        <INPUT type="date" id="date_from" name="date_from" value="{{min_date}}" required>
        <LABEL for="date_to">do</LABEL>
        <INPUT type="date" id="date_to" name="date_to" value="{{max_date}}" required>
        <BR>
        <BR>
        <H4>Hodnocení</H4>
        <LABEL for="hodnoceni_from">od</LABEL>
        <INPUT type="number" placeholder="od" id="hodnoceni_from" name="hodnoceni_from" value="{{min_hod}}" max="5" min="1" required style="width: 55px;">
        <LABEL for="hodnoceni_to">do</LABEL>
        <INPUT type="number" placeholder="do" id="hodnoceni_to" name="hodnoceni_to" value="{{max_hod}}" max="5" min="1" required style="width: 55px;">
        <BR>
        <BR>
        {% if user.auth <= 1 %}
       <H4>Programátor</H4>
        <SELECT name="name" style="width: 200px;">

            <OPTION value="-1"> všichni </OPTION>
            {% for usr in users %}
            <OPTION value="{{usr.id}}"
            {% if usr.id == sel_name %} selected {% endif %}>{{usr.name}}</OPTION>
            {% endfor %}

        </SELECT>
        <BR>
        <BR>
        {% endif %}
        <H4>Štítky</H4>
            <INPUT type="checkbox" id="bezkatky0" name="0" 
            {% if filtered_tags[0] == "on" %}
            checked
            {% endif %}>
            <LABEL for="bezkatky0">  Bez kategorie</LABEL>
        {% for tag in tags %}
            <INPUT type="checkbox" id="{{tag.name}}" name="{{tag.name}}"
            
            {% if filtered_tags[tag.id] == "on" %}
                checked
            {% endif %}
            >
            <LABEL for="{{tag.name}}" style="color: {{tag.barva}};"> {{tag.name}}</LABEL>
        {% endfor %}

        <BR>  
        <BR>
       <P style="text-align: center;" ><INPUT type="submit" value="filtrovat"> </P>

    </FORM>
    <BR>
    <FORM action="/zaznamy/reset-filter" method="get">
        <P style="text-align: center;" >    <INPUT type="submit" value="reset filtru"> </P>
    </FORM>
    <BR>
    <BR>
    <BR>
    <FORM action="/zaznamy/set-serazeni/" method="post">
        <H2>Seřazení:</H2>
        <SELECT name="serazeni" >
            <OPTION value="1" {% if serazeni == 1 %} selected {% endif %}>Datum vzestupně</OPTION>
            <OPTION value="2" {% if serazeni == 2 %} selected {% endif %}>Datum sestupně</OPTION>
            <OPTION value="3" {% if serazeni == 3 %} selected {% endif %}>Čas sestupně</OPTION>
            <OPTION value="4" {% if serazeni == 4 %} selected {% endif %}>Čas vzestupně</OPTION>
            <OPTION value="5" {% if serazeni == 5 %} selected {% endif %}>Hodnocení sestupně</OPTION>
            <OPTION value="6" {% if serazeni == 6 %} selected {% endif %}>Hodnocení vzestupně</OPTION>
            <OPTION value="7" {% if serazeni == 7 %} selected {% endif %}>Programovací jazyk abecedně</OPTION>
        </SELECT>
        <INPUT type="submit" value="Seřadit">
    </FORM>
</DIV>

<DIV>

    <TABLE>
    <TR>
        <TH style="padding-right:  20px; text-align: left;"><A href="/zaznamy/{% if serazeni == 9 %}10{% else %}9{% endif %}/">Jméno</A></TH>
        <TH style="padding-right:  20px; text-align: left;"><A href="/zaznamy/{% if serazeni == 7 %}8{% else %}7{% endif %}/">Jazyk</A></TH>
        <TH style="padding-right:  20px; text-align: left;"><A href="/zaznamy/{% if serazeni == 3 %}4{% else %}3{% endif %}/">Čas strávený v min</A></TH>
        <TH style="text-align: left;">Popis</TH>
        <TH style="padding-right:  30px; text-align: left;"><A href="/zaznamy/{% if serazeni == 1 %}2{% else %}1{% endif %}/">Datum</A></TH>
        <TH style="padding-right:  30px; text-align: left;"><A href="/zaznamy/{% if serazeni == 5 %}6{% else %}5{% endif %}/">Hodnocení</A></TH>
        <TH style="padding-right:  30px; text-align: left;">Štítky</TH>
        <TH style="padding-right:  30px; text-align: left;">Možnosti</TH>
    </TR>
    {% for record in records %}
        {% if user.auth <= 1 or user.id == record.name %}
        <TR>
            <TD style=" width: 125px; overflow-wrap: break-word; word-break: break-all;">{% for usr in users %}

                {% if usr.id == record.name %}
                    {{usr.name}}
                {% endif %}
            {% endfor %}</TD>

            <TD style=" text-align: center;">

                {% for language in languages %}
                    {% if language.id == record.jazyk_id %}
                        {{language.name}}
                    {% endif %}
                {% endfor %}
                </TD>
            
            <TD style="text-align: center;">{{record.time_spent}}</TD>
            <TD style=" width: 200px; word-wrap: break-word; word-break: break-all;">{{record.popis}}</TD>
            <TD>{{record.date}}</TD>
            <TD style="text-align: center;">{{record.hodnoceni}}</TD>
            <TD>
                {% for cat in cats %}
                    {% if cat.owned_id == record.id %}
                        {% for tag in tags %}
                            {% if cat.type_id == tag.id %}
                            <P style="color: {{tag.barva}};">{{tag.name}}</P>
                                <BR>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </TD>
            {% if user.auth <= 1 or user.id == record.name %}
            <TD> <A href="/update-form/{{record.id}}">Upravit</A>  <BR>
                <A href="/delete/{{record.id}}" class="smazat confirmation">Smazat</A>  </TD>
            {% endif %}
        </TR>

        {% endif %}
    {% endfor %}
    </TABLE>
</DIV>


{% endblock %}
