{% extends 'base.html' %}

{% block head %}
<TITLE>Zálohy</TITLE>
<LINK rel="stylesheet" href="{{url_for('static', filename='css/styly.css')}}" >

{% endblock %}

{% block body %}
<DIV class="Center">
    <H1>Zálohovat aktuální data</H1>
    <FORM action="/backup/" method="post">
    <INPUT type="submit" value="Exportovat"/>
    </FORM>
    <H1> Importovat zálohu ze souboru </H1>
    <H2> Připojte soubor </H2>
    <FORM action = "/upload/" method = "post" 
    enctype = "multipart/form-data">
        <INPUT type = "file" name = "file" required/>
        <INPUT type="submit" value="importovat soubor">
        
    </FORM>   
</DIV>
<DIV>
    <H1>
        Seznam všech záloh
    </H1>
    <H2>
        Při importování zálohy budou ztracena všechna neuložená data
    </H2>
    <TABLE>
        <TR>
            <TH> čas </TH>
        </TR>
        {% for backup in backup_dict %}
        <TR>
            <TD> {{backup}}</TD>
            <TD>
                <A href="/backup/download/{{backup}}"> Stáhnout </A>
                <A href="/backup/use/{{backup}}"> Importovat </A>
                <A href="/backup/delete/{{backup}}" class="smazat confirmation"> Smazat</A>
            </TD>
        </TR>
        {% endfor %}
    </TABLE>
</DIV>
{% endblock %}
