{% extends 'base.html' %}

{% block head %}
<title>Zálohy</title>
<link rel="stylesheet" href="{{url_for('static', filename='css/styly.css')}}" >

{% endblock %}

{% block body %}
<div class="Center">
    <h1>Zálohovat aktuální data</h1>
    <form action="/backup/" method="post">
    <input type="submit" value="Exportovat"/>
    </form>
    <h1> Importovat zálohu ze souboru </h1>
    <h2> Připojte soubor </h2>
    <form action = "/upload/" method = "post" 
    enctype = "multipart/form-data">
        <input type = "file" name = "file" required/>
        <input type="submit" value="importovat soubor">
        
    </form>   
</div>
<div>
    <h1>
        Seznam všech záloh
    </h1>
    <h2>
        Při importování zálohy budou ztracena všechna neuložená data
    </h2>
    <table>
        <tr>
            <th> čas </th>
        </tr>
        {% for backup in backup_dict %}
        <tr>
            <td> {{backup}}</td>
            <td>
                <a href="/backup/download/{{backup}}"> Stáhnout </a>
                <a href="/backup/use/{{backup}}"> Importovat </a>
                <a href="/backup/delete/{{backup}}" class="smazat confirmation"> Smazat</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}