{% extends 'base.html' %}

{% block head %}
<title>Přidat Kategorii</title>
<link rel="stylesheet" href="{{url_for('static', filename='css/styly.css')}}">
{% endblock %}

{% block body %}
<div class="Center">
    <form action="/cat/form/" method="post">


     <h1>
        <b>Přidat štítek do výběru</b>
    </h1>
    <h3>
        <b> všechna pole jsou povinná </b>
    </h3>

    <br>
<table>
    <tr>

        <td>Název štítku</td>
        <td>
            <input type="text" placeholder="název štítku" id="name" name="name" required>
        </td>
    </tr>
    <tr>
        <td>Barva štítku</td>
        <td>
            <input type="color" id="barva" Name = "barva" required>          
        </td>
    </tr>
    <tr>
        <td>Popis štítku</td>
        <td>
            <input type="text" placeholder="popis štítku" id="popis" name="popis" required>
        </td>
    </tr>
 </table>
    <h3>   
        <br>
        <input type="submit" value="přidat">
    <br>
    </h3>
</form>
    <table>
        <tr>

            <th style="padding-right:  20px;"> id </th>
            <th style="padding-right:  20px;"> Název štítku </th>
            <th style="padding-right:  20px;"> Barva štítku</th>
            <th style="padding-right:  20px; width: 300px; overflow-wrap: break-word; word-break: break-all;"> Popis štítku</th>
        </tr>
            {% for tag in tags %}
            <tr>
                <td>
                    {{tag.id}}
                </td>
                <td style=" width: 125px; overflow-wrap: break-word; word-break: break-all;">
                    {{tag.name}}
                </td>
                <td style="color: {{tag.barva}};">
                    {{tag.barva}}
                </td>
                <td>
                    {{tag.popis}}
                </td>
                <td>
                    <a href="/cat/delete/{{tag.id}}" class="smazat confirmation"> smazat</a>
                    <a href="/cat/update/{{tag.id}}"> update</a>

                </td>
            </tr>
            {% endfor %}

    </table>
</div>

{% endblock %}