{% extends 'base.html' %}

{% block head %}
<TITLE>Přidat Kategorii</TITLE>
<LINK rel="stylesheet" href="{{url_for('static', filename='css/styly.css')}}">
{% endblock %}

{% block body %}
<DIV class="Center">
    <FORM action="/cat/form/" method="post">


     <H1>
        <B>Přidat štítek do výběru</B>
    </H1>

    <BR>
<TABLE>
    <TR>

        <TD>Název štítku</TD>
                <TD><SPAN class="povinnost">*</SPAN></LABEL></TD><TD>
            <INPUT type="text" placeholder="název štítku" id="name" name="name" required>
        </TD>
    </TR>
    <TR>
        <TD>Barva štítku</TD>
                <TD><SPAN class="povinnost">*</SPAN></LABEL></TD><TD>
            <INPUT type="color" id="barva" Name = "barva" required>          
        </TD>
    </TR>
    <TR>
        <TD>Popis štítku</TD>
                <TD><SPAN class="povinnost">*</SPAN></LABEL></TD><TD>
            <INPUT type="text" placeholder="popis štítku" id="popis" name="popis" required>
        </TD>
    </TR>
 </TABLE>
    <H3>   
        <BR>
        <INPUT type="submit" value="přidat">
    <BR>
    </H3>
</FORM>
    <TABLE>
        <TR>
            <TH style="padding-right:  20px;"> Název štítku </TH>
            <TH style="padding-right:  20px;"> Barva štítku</TH>
            <TH style="padding-right:  20px; width: 300px; overflow-wrap: break-word; word-break: break-all;"> Popis štítku</TH>
        </TR>
            {% for tag in tags %}
            <TR>
                <TD style=" width: 125px; overflow-wrap: break-word; word-break: break-all;">
                    {{tag.name}}
                </TD>
                <TD style="color: {{tag.barva}};">
                    {{tag.barva}}
                </TD>
                <TD>
                    {{tag.popis}}
                </TD>
                <TD>
                    <A href="/cat/delete/{{tag.id}}" class="smazat confirmation"> smazat</A>
                    <A href="/cat/update/{{tag.id}}"> update</A>

                </TD>
            </TR>
            {% endfor %}

    </TABLE>
</DIV>

{% endblock %}
