{% extends 'base.html' %}

{% block head %}
<TITLE>Kategorie</TITLE>
<LINK rel="stylesheet" href="{{url_for('static', filename='css/styly.css')}}">
{% endblock %}

{% block body %} 

<DIV class="Center">
        <H1>Seznam Štítků</H1>
        <TABLE>
            <TR>
                <TH style="padding-right:  20px;"> Název štítku </TH>
                <TH style="padding-right:  20px;"> Barva štítku</TH>
                <TH style="padding-right:  20px;"> Popis štítku</TH>
            </TR>
                {% for tag in tags %}
                <TR>
                    <TD style=" width: 125px; overflow-wrap: break-word; word-break: break-all;">
                        {{tag.name}}
                    </TD>
                    <TD style="color: {{tag.barva}};">
                        {{tag.barva}}
                    </TD>
                    <TD>
                        {{tag.popis}}
                    </TD>
                    <TD>
                        <A href="/cat/delete/{{tag.id}}" class="smazat confirmation"> smazat</A>
                        <A href="/cat/update/{{tag.id}}"> update</A>
                    </TD>
                </TR>
                {% endfor %}
    
        </TABLE>
    </DIV>
<SCRIPT type="text/javascript">
        let elems = document.getElementsByClassName('confirmation');
        let confirmIt = function (e) {
            if (!confirm('Jste si jisti, že chcete smazat kategorii?')) e.preventDefault();
        };
        for (let i = 0, l = elems.length; i < l; i++) {
            elems[i].addEventListener('click', confirmIt, false);
        }
    </SCRIPT>

{% endblock %}
