{% extends 'base.html' %}

{% block head %}
<title>Kategorie</title>
<link rel="stylesheet" href="{{url_for('static', filename='css/styly.css')}}">
{% endblock %}

{% block body %} 

<div class="Center">
        <h1>Seznam Štítků</h1>
        <table>
            <tr>
                <th style="padding-right:  20px;"> ID </th>
                <th style="padding-right:  20px;"> Název štítku </th>
                <th style="padding-right:  20px;"> Barva štítku</th>
                <th style="padding-right:  20px;"> Popis štítku</th>
            </tr>
                {% for tag in tags %}
                <tr>
                    <td>
                        {{tag.id}}
                    </td>

                    <td style=" width: 125px; overflow-wrap: break-word; word-break: break-all;">
                        {{tag.name}}
                    </td>
                    <td style="color: {{tag.barva}};">
                        {{tag.barva}}
                    </td>
                    <td>
                        {{tag.popis}}
                    </td>
                    <td>
                        <a href="/cat/delete/{{tag.id}}" class="smazat confirmation"> smazat</a>
                        <a href="/cat/update/{{tag.id}}"> update</a>
                    </td>
                </tr>
                {% endfor %}
    
        </table>
    </div>


{% endblock %}