{% extends 'base.html' %}

{% block head %}
<TITLE>Upravit Kategorii</TITLE>
<LINK rel="stylesheet" href="{{url_for('static', filename='css/styly.css')}}">
{% endblock %}

{% block body %}
<DIV>
    <FORM action="/cat/update/{{tag_to_update.id}}" method="post">

     <H1>
       <B>Upravit štítek ve výběru</B> 
    </H1>
    <BR>

<TABLE>
    <TR>
        <TD>Název štítku</TD>
                <TD><SPAN class="povinnost">*</SPAN></LABEL></TD><TD>
            <INPUT type="text" placeholder="název štítku" id="name" name="name" required value="{{tag_to_update.name}}">
        </TD>
    </TR>
    <TR>
        <TD>Barva štítku</TD>
                <TD><SPAN class="povinnost">*</SPAN></LABEL></TD><TD>
            <INPUT type="color" id="barva" Name = "barva" value="{{tag_to_update.barva}}" required>          
        </TD>
    </TR>
    <TR>
        <TD>Popis štítku</TD>
                <TD><SPAN class="povinnost">*</SPAN></LABEL></TD><TD>
            <INPUT type="text" placeholder="popis štítku" id="popis" name="popis" value="{{tag_to_update.popis}}" required>
        </TD>
    </TR>
</TABLE>
    <H3>   
        <BR>
        <INPUT type="submit" value="upravit">
    
    </H3>
</FORM>
    <TABLE>
        <TR>
            <TH> Název štítku </TH>
            <TH> Barva štítku</TH>
            <TH> Popis štítku</TH>
        </TR>
            {% for tag in tags %}
            <TR>
                <TD>
                    {{tag.name}}
                </TD>
                <TD>
                    {{tag.barva}}
                </TD>
                <TD>
                    {{tag.popis}}
                </TD>
                <TD>
                    <A href="/cat/delete/{{tag.id}}" class="smazat confirmation"> smazat</A>
                    <A href="/cat/update/{{tag.id}}"> update</A>
                </TD>
            </TR>
            {% endfor %}

    </TABLE>
</DIV>
<SCRIPT type="text/javascript">
        let elems = document.getElementsByClassName('confirmation');
        let confirmIt = function (e) {
            if (!confirm('Jste si jisti, že chcete smazat kategorii?')) e.preventDefault();
        };
        for (let i = 0, l = elems.length; i < l; i++) {
            elems[i].addEventListener('click', confirmIt, false);
        }
    </SCRIPT>
{% endblock %}
