{% extends 'base.html' %}

{% block head %}
<TITLE>Přidat Programátora</TITLE>
<LINK rel="stylesheet" href="{{url_for('static', filename='css/styly.css')}}">
{% endblock %}

{% block body %}
<DIV>
    <FORM action="/user/form/" method="post">


        <H1><B>Přidat programátora do výběru</B></H1>

        <BR>
        <TABLE>
            <TR>
                <TD>
                    </TD>
                <TD><SPAN class="povinnost">*</SPAN></label></TD><TD>
                    <INPUT type="text" placeholder="jméno" id="name" name="name">
                </TD>
            </TR>
        </TABLE>
    <BR>
    <P style="text-align: center;"> <INPUT type="submit" value="přidat"></P>
    <BR>
    </FORM>
    <TABLE>
        <TR>
            <TH style="padding-right:  20px;"> Jméno programátora </TH>

        </TR>
        {% for usr in users %}
        <TR>
            <TD style=" width: 125px; overflow-wrap: break-word; word-break: break-all;">
                {{usr.name}}
            </TD>
            <TD>
                <A href="/user/delete/{{usr.id}}"  class="smazat confirmation"> smazat</A>
                <A href="/user/update/{{usr.id}}"> update</A>
            </TD>
        </TR>
        {% endfor %}

    </TABLE>
</DIV>

{% endblock %}
