{% extends 'base.html' %}

{% block head %}
<TITLE>Změnit e-mail</TITLE>
<LINK rel="stylesheet" href="{{url_for('static', filename='css/styly.css')}}">
{% endblock %}

{% block body %}
<DIV >
    <FORM action="/change/email" method="post">

        <H1>
            <B>Změnit email</B>
        </H1>
        <H2>
            Nechte prázdné, pokud chcete email neuvádět
        </H2>

        <BR>
        <TABLE>
            <TR>
                <TD>
                    Email
                </TD>
                <TD>
                    <INPUT type="email" id="email" name="email" value="{{user.email}}">
                </TD>
            </TR>
        </TABLE>
        <BR>
        <P style="text-align: center;">      <INPUT type="submit" value="změnit"> </P>
        <BR>
    </FORM>
    {% endblock %}
