{% extends 'base.html' %}

{% block head %}
<TITLE>Změnit oprávnění</TITLE>
<LINK rel="stylesheet" href="{{url_for('static', filename='css/styly.css')}}">
{% endblock %}

{% block body %}
<DIV>
    <FORM action="/change/auth/{{user_profile.id}}" method="post">

        <H1>
            <B>Změnit oprávnění účtu: {{user_profile.name}}</B>
        </H1>

        <BR>
        <TABLE>
            <TR>
                <TD>
                    Oprávnění
                </TD>
                <TD>
                    <INPUT type="radio" Name = "auth" id="1" value="1" required selected> <LABEL for="1">admin </LABEL>
                    <INPUT type="radio" Name = "auth" id="2" value="2" required {% if user_profile.auth == 2 %} selected {% endif %}> <LABEL for="2"> zaměstnanec </LABEL>
                </TD>
            </TR>
        </TABLE>
        <BR>
        <P style="text-align: center;">      <INPUT type="submit" value="změnit"> </P>
        <BR>
    </FORM>
    
    {% endblock %}
