{% extends 'base.html' %}

{% block head %}
<TITLE>Změnit heslo</TITLE>
<LINK rel="stylesheet" href="{{url_for('static', filename='css/styly.css')}}">
{% endblock %}

{% block body %}
<DIV >
    <FORM action="/change/password" method="post">

        <H1>
            <B>Změnit heslo</B>
        </H1>
        <BR>
        <TABLE>
            <TR>
                <TD>
                    Heslo
                </TD>
                <TD><SPAN class="povinnost">*</SPAN></LABEL></TD><TD>
                    <INPUT type="password" id="password" name="password" required>
                </TD>
            </TR>
            <TR>
                <TD>
                    Nové heslo
                </TD>
                <TD><SPAN class="povinnost">*</SPAN></LABEL></TD><TD>
                    <INPUT type="password" id="new_password" name="new_password" required>
                </TD>
            </TR>
            <TR>
                <TD>
                    Nové heslo znovu
                </TD>
                <TD><SPAN class="povinnost">*</SPAN></LABEL></TD><TD>
                    <INPUT type="password" id="new_password_again" name="new_password_again" required>
                </TD>
            </TR>
        </TABLE>
        <BR>
        <P style="text-align: center;">      <INPUT type="submit" value="změnit"> </P>
        <BR>
    </FORM>
    {% endblock %}
