{% extends 'base.html' %}

{% block head %}
<TITLE>Přihlášení</TITLE>
<LINK rel="stylesheet" href="{{url_for('static', filename='css/styly.css')}}">
{% endblock %}

{% block body %}
<DIV>
    <FORM action="/login" method="post">

         <H1>
           <B>Přihlásit se</B>
        </H1>
        <BR>
        <TABLE>
            <TR>
                
                <TD>
                    <LABEL for="name">Jméno nebo E-mail</TD>
                <TD><SPAN class="povinnost">*</SPAN></LABEL></TD><TD>
                    <INPUT type="text" id="name" name="name" required>
                </TD>
            </TR>
            <TR>    
                <TD>
                    <LABEL for="password">Heslo</TD>
                <TD><SPAN class="povinnost">*</SPAN></LABEL></TD><TD>
                    <INPUT type="password" id="password" name="password" required>
                </TD>
            </TR>
            <TR>
                <TD>
                    <LABEL for="remember">Pamatovat si mě</LABEL>
                    <INPUT type="checkbox" name="remember" id="remember">
                </TD>
            </TR>
        </TABLE>
        <BR>
        <P style="text-align: center;"><INPUT type="submit" value="Přihlásit se"></P>
        <BR>
    </FORM>
{% endblock %}
