{% extends 'base.html' %}

{% block head %}
<title>Přihlášení</title>
<link rel="stylesheet" href="{{url_for('static', filename='css/styly.css')}}">
{% endblock %}

{% block body %}
<div >
    <form action="/login" method="post">

         <h1>
           <b>Přihlásit se</b>
        </h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <p class="{{ category }}">{{ message }}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <h3>
            <b> Všechna pole jsou povinná </b>
        </h3>
        <br>
        <table>
            <tr>
                <td>
                    Jméno, nebo email
                </td>
                <td>
                    <input type="text" id="name" name="name" required>
                </td>
            </tr>
            <tr>
                <td>
                    Heslo
                </td>
                <td>
                    <input type="password" id="password" name="password" required>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="remember"> pamatovat si mě</label>
                </td>
                <td>
                    <input type="checkbox" name="remember" id="remember">
                </td>
            </tr>
        </table>
        <br>
        <p style="text-align: center;">      <input type="submit" value="přihlásit se"> </p>
        <br>
    </form>
{% endblock %}
