{% extends 'base.html' %}

{% block head %}
<LINK rel="stylesheet" href="{{url_for('static', filename='css/styly.css')}}" >
<TITLE>Profil</TITLE>
{% endblock %}

{% block body %}

<DIV>
    <H1>{{user_profile.name}}</H1>
    <H3> profil účtu </H3>
    
    <DIV>
        <H1>Osobní informace</H1>
        <H2>Jméno: </H2> {{user_profile.name}} <A href="/change/name/{{user_profile.id}}">změnit</A>
        <H2>Email: </H2>
            {% if user_profile.email %}
            {{user_profile.email}}
            {% else %}
            nemáte přiřazený žádný email
            {% endif %}
            <A href="/change/email/{{user_profile.id}}">změnit</A>
        <H2>Pravomoc: </H2>
        {% if user_profile.auth == 1 %}
        admin
        {% else %}
        zaměstnanec
        {% endif %}
        <A href="/change/auth/{{user_profile.id}}">změnit</A>
        <H2>Heslo</H2>
        <A href="/change/password/{{user_profile.id}}">změnit</A>
        <H2> datum založení účtu: </H2> {{user_profile.created_date}}
    </DIV>
    <DIV>
        <H1>
            Aktivita
        </H1>
        {% if stat['num'] > 0 %}
        <DIV>
            <DIV>
                <H3>Počet záznamů</H3>
                {{stat['num']}}
            </DIV>
            <DIV>
                <H3>Strávený čas programováním</H3>
                {{stat['time']}} min
            </DIV>
            <DIV>
                <H3>Používané jazyky</H3>
                {% for language in languages %}
                {% if stat[language.id] != 0 %}
                    {{language.name}}: {{'%0.2f' | format(stat[language.id]/stat['time'] *100)}}%
                {% endif %}
                {% endfor %}
            </DIV>
            <A href="/redirect/profile/config/{{user_profile}}">Zobrazit historii </A>
        </DIV>
        {% else %}
         Ještě nemáte žádné záznamy, pro sledování aktivity je vytvořte <A href="/form/">zde</A>
        {% endif %}
    </DIV>
</DIV>
{% endblock %}
