{% extends 'base.html' %}

{% block head %}
<LINK rel="stylesheet" href="{{url_for('static', filename='css/styly.css')}}" >
<TITLE>Profil</TITLE>
{% endblock %}

{% block body %}

<DIV>
    <H1>{{user.name}}</H1>
    <H3> profil účtu </H3>

    <DIV>
        <H1>Osobní informace</H1>
        <P>Jméno: {{user.name}}</P>
        <P>Email: 
            {% if user.email %}
            {{user.email}}
            {% else %}
            nemáte přiřazený žádný email
            {% endif %}
            <A href="/change/email">změnit</A></P>
        <P>Heslo
        <A href="/change/password">změnit</A></P>
        <P> datum založení účtu: {{user.created_date}} </P>
    </DIV>
    <DIV>
        <H1>
            Aktivita
        </H1>
        {% if stat['num'] > 0 %}
        <DIV>
            <DIV>
                <H3>Počet záznamů</H3>
                {{stat['num']}}
            </DIV>
            <DIV>
                <H3>Strávený čas programováním</H3>
                {{stat['time']}} min
            </DIV>
            <DIV>
                <H3>Používané jazyky</H3>
                {% for language in languages %}
                {% if stat[language.id] != 0 %}
                    {{language.name}}: {{'%0.2f' | format(stat[language.id]/stat['time'] *100)}}%
                {% endif %}
                {% endfor %}
            </DIV>
            <A href="/redirect/my/history/">Zobrazit historii </A>
        </DIV>
        {% else %}
         Ještě nemáte žádné záznamy, pro sledování aktivity si je vytvořte <A href="/form/">zde</A>
        {% endif %}
    </DIV>
    <DIV >
        <H1>Nastavení</H1>
        <H2>barvy</H2>
        <FORM action="/settings/" method="post">
            <TABLE>
                <TR>
                    <TD>
                        <H3>text</H3>
                    </TD>
                </TR>
                <TR>
                    <TD>
                        odstavce
                    </TD>
                    <TD>
                        <INPUT type="color" name="text" id="text" value="{{user_palette.text}}">
                    </TD>
                </TR>
                <TR>
                    <TD>
                        nadpisy
                    </TD>
                    <TD>
                        <INPUT type="color" name="header" id="header" value="{{user_palette.header}}">
                    </TD>
                </TR>
                <TR>
                    <TD>
                        <H3>horní lišta</H3>
                    </TD>

                </TR>
                <TR>
                    <TD>
                        základ
                    </TD>
                    <TD>
                        <INPUT type="color" name="base" id="base" value="{{user_palette.base}}">
                    </TD>
                </TR>
                <TR>
                    <TD>
                        aktivní
                    </TD>
                    <TD>
                        <INPUT type="color" name="selected" id="selected" value="{{user_palette.selected}}">
                    </TD>
                </TR>
                <TR>
                    <TD>
                        přejetí myši
                    </TD>
                    <TD>
                        <INPUT type="color" name="hover" id="hover" value="{{user_palette.hover}}">
                    </TD>
                </TR>
                <TR>
                    <TD>
                        <H3>Pozadí</H3>
                    </TD>
                </TR>
                <TR>
                    <TD>
                        aplikace
                    </TD>
                    <TD>
                        <INPUT type="color" name="body" id="body" value="{{user_palette.body}}">
                    </TD>
                </TR>
                <TR>
                    <TD>
                        jednoho odstavce
                    </TD>
                    <TD>
                        <INPUT type="color" name="divone" id="divone" value="{{user_palette.divone}}">
                    </TD>
                </TR>
                <TR>
                    <TD>
                        dvou odstavců
                    </TD>
                    <TD>
                        <INPUT type="color" name="divtwo" id="divtwo" value="{{user_palette.divtwo}}">
                    </TD>
                </TR>
                <TR>
                    <TD>
                        tří odstavců
                    </TD>
                    <TD>
                        <INPUT type="color" name="divthree" id="divthree" value="{{user_palette.divthree}}">
                    </TD>
                </TR>
                <TR>
                    <TD>
                        <LABEL for="in_use">použít</LABEL> 
                    </TD>
                    <TD>
                        <INPUT type="checkbox" name="in_use" id="in_use" {% if user_palette.in_use == "on" %} checked {% endif %}>
                    </TD>
                </TR>
            </TABLE>
            <INPUT type="submit" value="změnit barvy">
        </FORM>
    </DIV>
</DIV>
{% endblock %}
