{% extends 'base.html' %}

{% block head %}
<TITLE>Programátoři</TITLE>
<LINK rel="stylesheet" href="{{url_for('static', filename='css/styly.css')}}">
{% endblock %}

{% block body %} 
<DIV class="Center">

    <H1>
        <B>Seznam programátorů</B> 
    </H1>
    <DIV>
        <TABLE>
            <TR>
                <TH style="padding-right:  20px; word-break: normal"> Jméno </TH>
                <TH style="padding-right:  20px; word-break: normal"> Pravomoc </TH>
                <TH style="padding-right:  20px; word-break: normal"> Email </TH>

            </TR>
            {% for usr in users %}
            <TR>
                <TD style="width: 125px; overflow-wrap: break-word; word-break: break-all;">

                    {{usr.name}}
                </TD>
                {% if user.auth <= 1 or user.id == usr.id %}
                <TD>
                    {{usr.auth}}
                </TD>
                {% else %}
                <TD>
                    -----
                </TD>
                {% endif %}
                {% if user.auth <= 1 or user.id == usr.id %}
                <TD>
                    {{usr.email}}
                </TD>
                {% else %}
                <TD>
                    -----
                </TD>
                {% endif %}
                {% if user.auth <= 1 %}
                <TD>
                    <A href="/user/delete/{{usr.id}}" class="smazat confirmation"> smazat</A>
                    <A href="/profile/config/{{usr.id}}"> profil</A>
                </TD>
                {% endif %}
            </TR>
            {% endfor %}

        </TABLE>
    </DIV>
</DIV>

{% endblock %}
