{% extends 'base.html' %}

{% block head %}
<TITLE>Vytvořit účet</TITLE>
<LINK rel="stylesheet" href="{{url_for('static', filename='css/styly.css')}}">
{% endblock %}

{% block body %}
<DIV >
    <FORM action="/signup" method="post">

         <H1>
           <B>Vytvořit účet</B>
        </H1>
        <TABLE>
            <TR>
                <TD>
                    <LABEL for="name">Jméno 
                </TD>
                <TD>
                    <SPAN class="povinnost">*</SPAN></LABEL>
                </TD>
                <TD>
                    <INPUT type="name" placeholder="Mirek Dušín" id="name" name="name" required/>
                </TD>
            </TR>
            <TR>
                <TD>
                    <LABEL for="email">E-mail</LABEL>
                </TD><TD></TD>
                <TD>
                    <INPUT type="email" id="email" name="email"/>
                </TD>
            </TR>
            <TR>
                <TD>
                    <LABEL for="password">Heslo
                    </TD>
                <TD>
                    <SPAN class="povinnost">*</SPAN></LABEL>
                </TD>
                <TD>    
                    <INPUT type="password" id="password" name="password" required>
                </TD>
            </TR>
            
        </TABLE>
        <BR>
        <P style="text-align: center;"><INPUT type="submit" value="vytvořit"> </P>
        <BR>
    </FORM>

{% endblock %}
