body
{   
    color: rgb(182, 182, 182);
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;
}
h1, h2, h3{
    text-align: center;
}
div 
{
    background-color: #3b3b3b;
    width: fit-content;
    float: left;
    padding: 20px;
    word-break: normal;
    overflow: auto;
    margin: 20px;
}
.Logo{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
}
table
{
    margin: auto;
    align-self: auto;
    width: fit-content;
}
button
{
    width: 20%; height: 20%; color: black;
}
ul li
{
    position: relative;
    display: inline-block;
}
ul li ul.h li
{
display: block;
}
ul li ul.h 
{
    width: 100%;
    position:absolute;
    display: none;
    background-color: red;
    z-index: 999;
}
ul li:hover ul.h
{
display: block;
}
ul li ul.h a
{
    text-decoration: none;
    font-size: 15px;
    text-align: left;
}
ul li a
{
    size: auto;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 35px;
    text-align: center;
    padding: 15px 30px;
}

*
{
    padding: 0;
    margin: 0;
    font-family:sans-serif;
}
a
{
    color: #dee4e9;
    text-underline-offset: auto;
}
.smazat
{
    color:#E10600;
    text-decoration-style: dotted;
}
.set
{
    float: right;
}
.error
{
    text-align: center;
    background-color: #c00c0681;
}
.message, .notice
{
    text-align: center;
    background-color: #4e9907b6;
}
.login
{
    background-color: white;
    color: black;
    margin: 10px;
    border-radius: 1px;
}