body
{   
    background-image: linear-gradient(rgb(0, 90, 94) 20%,rgb(1, 54, 21), rgb(57, 63, 2)) ;
    color: white;
    height: 50vw;
    width: 50vh;
}
.First
{
    background-color: grey;
    text-align: left;
    font-size: 16;
    width:fit-content;
    position: absolute;
    top: 30%;
    left: 3%;
    padding: 20px;
    border-radius: 35px;
}
.Normaldiv
{
    background-color: grey;
    text-align: left;
    font-size: 16;
    width:fit-content;
    position: absolute;
    top: 30%;
    left: 40%;
    align-items: center;
    justify-content:  center;
    padding: 20px;
    border-radius: 35px;
}
.Divse
{
    background-color: grey;
    font-size: 16;
    width:fit-content;
    position: absolute;
    top: 40%;
    right: 9%;
    padding: 20px;
    border-radius: 35px;
}
.Divthi
{
    background-color: grey;
    text-align: left;
    font-size: 16;
    width:fit-content;
    position:absolute;
    top: 40%;
    right: 25%; 
    padding: 20px;
    border-radius: 35px;   
}
table
{
    margin: auto; align-self: Left;
}
button
{
    width: 20%; height: 20%; color: black;
}
.Second
{
    color: black; 
    background-color: red;
    margin: 0 ;
}
ul
{
    display: flex;
    list-style: none;
}

header
{
    width: 100%;
    background-color: red;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}
ul li
{
position: relative;
display: inline-block;
}
ul li ul.h li
{
display: block;
}
ul li ul.h 
{
    width: 100%;
position:absolute;
display: none;
background-color: red;
z-index: 999;
}
ul li:hover ul.h
{
display: block;
}
ul li ul.h a
{
    text-decoration: none;
    color: black;
    font-size: 15px;
    text-align: left;
    overflow-wrap: break-word;
}
ul li a
{

    display: block;
    padding: None;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-size: 35px;
    text-align: center;
    padding: 15px 30px;
}
ul li a:hover
{
    background: darkred;
}
*
{
    padding: 0;
    margin: 0;
    font-family:sans-serif;
}