body
{    
    margin: 0;
    background-color: black;
    color: white;
    border: 0;
    padding: 0;
}
.First
{
    background-color: grey;
    text-align: center;
    font-size: 16;
    width: 25%;
    margin: 0 auto;
    position: absolute;
    top: 33%;
    right: 0;
    left: 0;

}
table
{
    margin: auto; align-self: center;
}
button
{
    width: 20%; height: 20%; color: black;
}
.Second
{
    color: black; 
    background-color: red;
    margin: 0 ;
}
ul
{
    display: flex;
    list-style: none;
}

header
{
    width: 100%;
    background-color: red;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}
ul li
{
position: relative;
display: inline-block;
}
ul li ul.h li
{
display: block;
}
ul li ul.h 
{
    width: 100%;
position:absolute;
display: none;
background-color: red;
z-index: 999;
}
ul li:hover ul.h
{
display: block;
}
ul li ul.h a
{
    text-decoration: none;
    color: black;
    font-size: 15px;
    text-align: left;
    overflow-wrap: break-word;
}
ul li a
{
    display: block;
    padding: None;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-size: 35px;
    text-align: center;
    padding: 15px 30px;
}
ul li a:hover
{
    background: darkred;
}
*
{
    padding: 0;
    margin: 0;
    font-family:sans-serif;
}