{% extends 'base.html' %}

{% block head %}
<TITLE>Přidat Jazyk</TITLE>
<LINK rel="stylesheet" href="{{url_for('static', filename='css/styly.css')}}">
{% endblock %}

{% block body %}
<DIV class="Center">
    <FORM action="/language/form/" method="post">

         <H1>
           <B>Přidat programátorský jazyk do výběru</B>
        </H1>
        
        <BR>
        <TABLE>
            <TR>
                <TD>
                    Název jazyku</TD>
                <TD><SPAN class="povinnost">*</SPAN></TD>
                    <INPUT type="text" placeholder="název jazyku" id="name" name="name" required>
                </TD>
            </TR>

        </TABLE>
        <BR>
        <P style="text-align: center;">      <INPUT type="submit" value="přidat"> </P>
        <BR>
    </FORM>


    <TABLE>
        <TR>
            <TH style="padding-right:  20px;width: 125px; overflow-wrap: break-word; word-break: break-all;"> název jazyku </TH>

        </TR>
            {% for language in languages %}
            <TR>
                <TD>
                    {{language.name}}
                </TD>
                <TD>
                    <A href="/language/delete/{{language.id}}" class="smazat confirmation"> smazat</A>

                    <A href="/language/update/{{language.id}}"> upravit</A>

                </TD>
            </TR>
            {% endfor %}

    </TABLE>
</DIV>

{% endblock %}
