{% extends 'base.html' %}

{% block head %}
<title>Přidat Jazyk</title>
<link rel="stylesheet" href="{{url_for('static', filename='css/styly.css')}}">
{% endblock %}

{% block body %}
<div class="Center">
    <form action="/language/form/" method="post">

         <h1>
           <b>Přidat programátorský jazyk do výběru</b>
        </h1>
        <h3>

            <b> všechna pole jsou povinná </b>

        </h3>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <p class="{{ category }}">{{ message }}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <br>
        <table>
            <tr>
                <td>
                    Název jazyku
                </td>
                <td>
                    <input type="text" placeholder="název jazyku" id="name" name="name" required>
                </td>
            </tr>

        </table>
        <br>
        <p style="text-align: center;">      <input type="submit" value="přidat"> </p>
        <br>
    </form>


    <table>
        <tr>

            <th style="padding-right:  20px;"> id </th>
            <th style="padding-right:  20px;width: 125px; overflow-wrap: break-word; word-break: break-all;"> název jazyku </th>

        </tr>
            {% for language in languages %}
            <tr>
                <td>
                    {{language.id}}
                </td>
                <td>
                    {{language.name}}
                </td>
                <td>
                    <a href="/language/delete/{{language.id}}"> smazat</a>

                    <a href="/language/update/{{language.id}}"> upravit</a>

                </td>
            </tr>
            {% endfor %}

    </table>
</div>

{% endblock %}
