{% extends 'base.html' %}

{% block head %}
<title>Jazyky</title>
<link rel="stylesheet" href="{{url_for('static', filename='css/styly.css')}}">
{% endblock %}

{% block body %} 
<div class="Center">
    <h1>
        <b>Seznam programovacích jazyků</b>
    </h1>
    <table>
        <tr>
            <th style="padding-right:  20px;"> ID </th>
            <th style="padding-right:  20px;"> název jazyku </th>

        </tr>
            {% for language in languages %}
            <tr>
                <td>
                    {{language.id}}
                </td>
                <td>
                    {{language.name}}
                </td>
                
                {% if user.auth <= 1 %}
                <td>
                    <a href="/language/delete/{{language.id}}" class="smazat confirmation"> smazat</a>
                    <a href="/language/update/{{language.id}}"> upravit</a>

                </td>
                {% endif %}
            </tr>
            {% endfor %}

    </table>
</div>

{% endblock %}
