{% extends 'base.html' %}

{% block head %}
<TITLE>Jazyky</TITLE>
<LINK rel="stylesheet" href="{{url_for('static', filename='css/styly.css')}}">
{% endblock %}

{% block body %} 
<DIV>
    <H1>
        <B>Seznam programovacích jazyků</B>
    </H1>
    <TABLE>
        <TR>
            <TH style="padding-right:  20px;"> název jazyku </TH>

        </TR>
            {% for language in languages %}
            <TR>
                <TD>
                    {{language.name}}
                </TD>
                
                {% if user.auth <= 1 %}
                <TD>
                    <A href="/language/delete/{{language.id}}" class="smazat confirmation"> smazat</A>
                    <A href="/language/update/{{language.id}}"> upravit</A>

                </TD>
                {% endif %}
            </TR>
            {% endfor %}

    </TABLE>
</DIV>
<SCRIPT type="text/javascript">
        let elems = document.getElementsByClassName('confirmation');
        let confirmIt = function (e) {
            if (!confirm('Jste si jisti, že chcete smazat programovací jazyk?')) e.preventDefault();
        };
        for (let i = 0, l = elems.length; i < l; i++) {
            elems[i].addEventListener('click', confirmIt, false);
        }
    </SCRIPT>
{% endblock %}
