{% extends 'base.html' %}

{% block head %}
<TITLE>Upravit Jazyk</TITLE>
<LINK rel="stylesheet" href="{{url_for('static', filename='css/styly.css')}}">
{% endblock %}

{% block body %}
<DIV class="Center">
    <FORM action="/language/update/{{language_to_update.id}}" method="post">

        <H1><B>Upravit programátorský jazyk ve výběru</B></H1>

        <BR>

        <TABLE>
            <TR>

                <TD>Název jazyku </TD>
                <TD><SPAN class="povinnost">*</SPAN></label></TD>

                <TD>
                    <INPUT type="text" placeholder="název jazyku" id="name" name="name" required value="{{language_to_update.name}}">
                </TD>
            </TR>
            <TR>
                <TD>
                    <INPUT type="submit" value="upravit">
                </TD>
            </TR>
        </TABLE>
    </FORM>


    <TABLE>
        <TR>
            <TH> název jazyku </TH>
        </TR>
        {% for language in languages %}
        <TR>
            <TD>
                {{language.name}}
            </TD>
            <TD>
            <A href="/language/delete/{{language.id}}" class="smazat confirmation"> smazat</A>
            <A href="/language/update/{{language.id}}"> upravit</A>
            </TD>
        </TR>
    {% endfor %}

    </TABLE>
</DIV>

{% endblock %}
