{% extends 'base.html' %}

{% block head %} 
<link rel="stylesheet" href="{{url_for('static', filename='css/styly.css')}}">
{% endblock %}

{% block body %} 
<form action="/programmer/form/" method="post">
    <div class="Normaldiv">
     <h1>
        <p style="text-align: center;"> <b>Přidat programátora do výběru</b> </p>
    </h1>
    <h3>
        <p style="text-align: center;">  <b> všechna pole jsou povinná </b> </p>
    </h3>
    <br>
<table>
        <tr>
        <td>
        Jméno programátora
    </td>
    <td>
    <input type="text" placeholder="jméno" id="name" name="name">
    </tr>
    </form>
</table>
    <br>
      <p style="text-align: center;"> <input type="submit" value="přidat"></p>  
    <br>
    <table >
        <tr>
            <th style="padding-right:  20px;"> id </th>
            <th style="padding-right:  20px;"> Jméno programátora </th>
        </tr>
            {% for programmer in programmers %}
            <tr>
                <td>
                    {{programmer.id}}
                </td>
                <td style=" width: 125px; overflow-wrap: break-word; word-break: break-all;">
                    {{programmer.name}}
                </td>
                <td>
                    <a href="/programmer/delete/{{programmer.id}}"> smazat</a>
                    <a href="/programmer/update/{{programmer.id}}"> update</a>
                </td>
            </tr>
            {% endfor %}

    </table>
</div>

{% endblock %}