{% extends 'base.html' %}

{% block head %} 
<link rel="stylesheet" href="{{url_for('static', filename='css/styly.css')}}">
{% endblock %}

{% block body %} 
<div>
<form action="/add/" method="post">
    
     <h1>
       <b>deník</b> 
    </h1>
    <h2>
        <b> Základní informace</b> 
    </h2>
    <br>
<table>
        <tr>
        <td>
        Programátor
    </td>
    <td>
    <input type="text" placeholder="jméno" id="name" name="name">
    </tr>
    <tr>
</td>
    <td>
                Co se dělalo
            </td>
                <td>
            <input type="text" placeholder="co se dělalo" name="popis">
        </td>
        </tr>
        <tr>
            <td>
                čas strávení v minutách
            </td>
                <td>
            <input type="text" placeholder="čas" name="time_spent">
        </td>
        </tr>
        </tr>
            <td>
                Programovací jazyk
            </td>
         <td>
            <select name="jazyk">
                <option value="Javascript">Javascript</option>
                <option value="Python">Python</option>
                <option value="Java">Java</option>
                <option value="C#">C#</option>
                <option value="C/C++">C/C++</option>
                <option value="HolyC">HolyC</option>
            </select>
        </td>
        </tr>
        <tr>
        <td>
                datum
        </td>
        <td>
            <input type="date" placeholder="datum" name="date">
             </td>
            </tr>
            <tr>
            <td>
                Škála hodnocení naši práce
            </td>
            <td>
            <input type="radio" Name = "hodnoceni" value="1">1
            <input type="radio" Name = "hodnoceni" value="2">2
            <input type="radio" Name = "hodnoceni" value="3">3
            <input type="radio" Name = "hodnoceni" value="4">4
            <input type="radio" Name = "hodnoceni" value="5">5
            </td>
        </tr>
    </table>
            <h3>
                
                    <input type="submit" value="add">
                
           
        </h3>
        <br>
    </form>
</div>

{% endblock %}
