{% extends 'base.html' %}

{% block head %} 
<link rel="stylesheet" href="{{url_for('static', filename='css/styly.css')}}">
{% endblock %}

{% block body %} 
<form action="/add/" method="post">
    <div class="First">

     <h1>
       <b>Přidat záznam do deníku</b> 
    </h1>
    <h3>
        <b> všechna pole jsou povinná </b> 
    </h3>
    <br>
<table>
        <tr>
        <td>
        Programátor
    </td>
    <td>
        <select name="name" >
            {% for programmer in programmers %}
            <option value="{{programmer.id}}">{{programmer.name}}</option>
            {% endfor %}
        </select>
    </tr>
    <tr>
</td>
    <td>
                Co se dělalo
            </td>
                <td>
            <input type="text" placeholder="co se dělalo" name="popis" required>
        </td>
        </tr>
        <tr>
            <td>
                čas strávení v minutách
            </td>
                <td>
            <input type="number" placeholder="čas" name="time_spent" required>
        </td>
        </tr>
        </tr>
            <td>
                Programovací jazyk
            </td>
         <td>
            <select name="jazyk_id" >
                {% for language in languages %}
                <option value="{{language.id}}">{{language.name}}</option>
                {% endfor %}
            </select>
        </td>
        </tr>
        <tr>
        <td>
                datum
        </td>
        <td>
            <input type="date" placeholder="datum" name="date" required>
             </td>
            </tr>
            <tr>
            <td>
                Škála hodnocení naši práce
            </td>
            <td>
            <input type="radio" Name = "hodnoceni" value="1" required>1
            <input type="radio" Name = "hodnoceni" value="2" required>2
            <input type="radio" Name = "hodnoceni" value="3" required>3
            <input type="radio" Name = "hodnoceni" value="4" required>4
            <input type="radio" Name = "hodnoceni" value="5" required>5
            </td>
        </tr>
        <tr>
            <td> Štítky </td>
            <td>
                {% for tag in tags %}
                <label for="{{tag.id}}">{{tag.name}}</label>
                <input type="checkbox" id="{{tag.id}}" name="{{tag.id}}">
                {% endfor %}
            </td>
        </tr>
    </table>
            <h3>
                
                    <input type="submit" value="přidat">
                
           
        </h3>
        <br>
    </form>
</div>

{% endblock %}
