<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %} 

    {% endblock %}
</head>
<body>
    <header> 
        <nav>
        <ul>
            <li><a href="http://localhost:8080/" >Domů</a></li>
            <li><a href="http://localhost:8080/zaznamy/1" >Záznamy</a></li>
            <li><a href="#" >Přidat</a> 
              <ul class="h">
             <li><a href="http://localhost:8080/form/" ><b>Záznam</b></a></li>
             <li><a href="http://localhost:8080/cat/form" ><b>Kategorii</b></a></li>
             <li><a href="http://localhost:8080/programmer/form" ><b>Programátora</b></a></li>
             <li><a href="http://localhost:8080/language/form" ><b>Programovací jazyk</b></a></li>
            </ul>
            </li>
            <li><a href="http://localhost:8080/cat/" >Kategorie</a></li>
            <li><a href="http://localhost:8080/programmer/" >Programátoři</a></li>
            <li><a href="http://localhost:8080/language/" >Programovací jazyky</a></li>
        </ul>
        </nav>
        </header>
    {% block body %} 

    {% endblock %}
</body>
</html>
