{% extends 'base.html' %}

{% block head %}
<title>Změnit heslo</title>
<link rel="stylesheet" href="{{url_for('static', filename='css/styly.css')}}">
{% endblock %}

{% block body %}
<div >
    <form action="/change/password/{{user_profile.id}}" method="post">

        <h1>
            <b>Změnit heslo účtu: {{user_profile.name}}</b>
        </h1>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <br>
        <table>
            <tr>
                <td>
                    Heslo adminského účtu: {{user.name}}
                </td>
                <td>
                    <input type="password" id="password" name="password" required>
                </td>
            </tr>
            <tr>
                <td>
                    Nové heslo účtu: {{user_profile.name}}
                </td>
                <td>
                    <input type="password" id="new_password" name="new_password" required>
                </td>
            </tr>
            <tr>
                <td>
                    Nové heslo znovu
                </td>
                <td>
                    <input type="password" id="new_password_again" name="new_password_again" required>
                </td>
            </tr>
        </table>
        <br>
        <p style="text-align: center;">      <input type="submit" value="změnit"> </p>
        <br>
    </form>
    {% endblock %}
