{% extends 'base.html' %}

{% block head %}
<title>Stahuji Zálohu</title>
<link rel="stylesheet" href="{{url_for('static', filename='css/styly.css')}}" >

{% endblock %}

{% block body %}
<div class="Center">
    <h1>Zálohovat aktuální data</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <p class="{{ category }}">{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <form action="/backup/" method="post">
    <table>
        <tr>
            <td>
                název/popis zálohy (čas zálohy bude uložen automaticky)
            </td>
            <td>
                
                    <input type="text" name="desc" id="desc" required>
                
            </td>
        </tr>
    </table>
    <input type="submit" value="Zazálohovat">
    </form>
    <h1> Importovat zálohu ze souboru </h1>
    <h2> Připojte soubor </h2>
    <form action = "/upload/" method = "post" 
    enctype = "multipart/form-data">
        <input type = "file" name = "file" required/>
        <input type = "text" name="desc" id="desc" required/>
        <input type="submit" value="importovat soubor">
        
    </form>   
</div>
<div>
    <h1>
        Seznam všech záloh
    </h1>
    <h2>
        Při použití zálohy budou ztracena všechna neuložená data
    </h2>
    <table>
        <tr>
            <th> čas </th>
            <th> název / popis </th>
        </tr>
        {% for backup in backup_dict %}
        <tr>
            <td> {{backup}}</td>
            <td> {{backup_dict[backup]}}</td>
            <td>
                <a href="/backup/download/{{backup}}"> stáhnout</a>
                <a href="/backup/use/{{backup}}"> použít </a>
                <a href="/backup/delete/{{backup}}" class="smazat"> smazat</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}