<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <title>Document</title>
</head>
<body>
    <div class="menu-open">
        <button id="myBtn">Open Modal</button>

        <div id="myModal" class="modal">
            <form  method="post">
            <header class="M-Header modal-content">
                Přidat
                <span class="close">&times;</span>
            </header>
            <div class="modal-content">
                <p class="modalP">Description (max. 120 characters):</p>
                <textarea maxlength="120"></textarea>
                <p class="modalP">Signature (max. 30 characters):</p>
                <input type="text" id="podpis" name="podpis" maxlength="30">
            </div>
            <footer class="M-footer modal-content">
                <input type="submit" value="Submit">
            </footer>
          </form>
          </div>
    </div>
    <script src="{{url_for('static', filename='scripts/dragDrop.js')}}"></script>
    <script src="{{url_for('static', filename='scripts/menu.js')}}"></script>
    <script src="{{url_for('static', filename='scripts/modal.js')}}"></script>
</body>
</html>