{% extends 'base.html' %}

{% block head %}
<TITLE>Domov</TITLE>
<LINK rel="stylesheet" href="{{url_for('static', filename='css/styly.css')}}" >

{% endblock %}

{% block body %}


<DIV>
    <H1>Programátorský deník</H1>
    <H4>Použití</H4>  
    <P>Pro zápis záznamů se nejdříve přihlašte.
    <OL>
    <LI>Zajděte na záložku Přidat - Záznam.</LI>
    <LI>Vyplntě hodnoty a stiskněte "Přidat".</LI>
    <LI>Své záznamy můžete sledovat v záložce Přehled - záznamy.</LI>
    </OL>
    <H4>Co když mi něco chybí</H4>
    <P>Chybí-li Vám účet, jazyk nebo zapomněli jste-li Vaše přihlašovací údaje, kontaktujte IT oddělení.</P>
    <H4>Štítky</H4>
    <P>Mimo záznamy ještě můžete vytvářet štítky, a tím si kategorizovat svoje záznamy.</P>
    <H3>A teď už zbývá jen přidat nějaké záznamy!</H3>
</DIV>
{% endblock %}
