{% extends 'base.html' %}

{% block head %} 
<link rel="stylesheet" href="{{url_for('static', filename='css/styly.css')}}">
{% endblock %}

{% block body %} 
<div class="First">
    <table>
        <h1>
            <b>Seznam programovacích jazyků</b> 
         </h1>
        <tr>
            <th> id </th>
            <th> název jazyku </th>
        </tr>
            {% for language in languages %}
            <tr>
                <td>
                    {{language.id}}
                </td>
                <td>
                    {{language.name}}
                </td>
                <td>
                    <a href="/language/delete/{{language.id}}"> smazat</a>
                    <a href="/language/update/{{language.id}}"> upravit</a>
                </td>
            </tr>
            {% endfor %}

    </table>
</div>

{% endblock %}
