{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/styly.css')}}" >

{% endblock %}

{% block body %}

<div>
    <h1>{{user.name}}</h1>
    <h3> profil účtu </h3>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <p class="{{ category }}">{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
    
    <div>
        <h1>Osobní informace</h1>
        <h2>Jméno: </h2> {{user.name}}
        <h2>Email: </h2>
            {% if user.email %}
            {{user.email}}
            {% else %}
            nemáte přiřazený žádný email
            {% endif %}
            <a href="/change/email">změnit</a>
        <h2>Pravomoc: </h2>
        {% if user.auth == 1 %}
        admin
        {% else %}
        zaměstnanec
        {% endif %}
        <h2>Heslo</h2>
        <a href="/change/password">změnit</a>
        <h2> datum založení účtu: </h2> {{user.created_date}}
    </div>
    <div>
        <h1>
            Aktivita
        </h1>
        {% if stat['num'] > 0 %}
        <div>
            <div>
                <h3>Počet záznamů</h3>
                {{stat['num']}}
            </div>
            <div>
                <h3>Strávený čas programováním</h3>
                {{stat['time']}} min
            </div>
            <div>
                <h3>Používané jazyky</h3>
                {% for language in languages %}
                {% if stat[language.id] != 0 %}
                    {{language.name}}: {{'%0.2f' | format(stat[language.id]/stat['time'] *100)}}%
                {% endif %}
                {% endfor %}
            </div>
            <a href="/redirect/my/history/">Zobrazit historii </a>
        </div>
        {% else %}
         Ještě nemáte žádné záznamy, pro sledování aktivity si je vytvořte <a href="/form/">zde</a>
        {% endif %}
    </div>
    <div >
        <h1>Nastavení</h1>
        <h2>barvy</h2>
        <form action="/settings/" method="post">
            <table>
                <tr>
                    <td>
                        <h3>text</h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        odstavce
                    </td>
                    <td>
                        <input type="color" name="text" id="text" value="{{user_palette.text}}">
                    </td>
                </tr>
                <tr>
                    <td>
                        nadpisy
                    </td>
                    <td>
                        <input type="color" name="header" id="header" value="{{user_palette.header}}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3>horní lišta</h3>
                    </td>

                </tr>
                <tr>
                    <td>
                        základ
                    </td>
                    <td>
                        <input type="color" name="base" id="base" value="{{user_palette.base}}">
                    </td>
                </tr>
                <tr>
                    <td>
                        aktivní
                    </td>
                    <td>
                        <input type="color" name="selected" id="selected" value="{{user_palette.selected}}">
                    </td>
                </tr>
                <tr>
                    <td>
                        přejetí myši
                    </td>
                    <td>
                        <input type="color" name="hover" id="hover" value="{{user_palette.hover}}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3>Pozadí</h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        aplikace
                    </td>
                    <td>
                        <input type="color" name="body" id="body" value="{{user_palette.body}}">
                    </td>
                </tr>
                <tr>
                    <td>
                        jednoho odstavce
                    </td>
                    <td>
                        <input type="color" name="divone" id="divone" value="{{user_palette.divone}}">
                    </td>
                </tr>
                <tr>
                    <td>
                        dvou odstavců
                    </td>
                    <td>
                        <input type="color" name="divtwo" id="divtwo" value="{{user_palette.divtwo}}">
                    </td>
                </tr>
                <tr>
                    <td>
                        tří odstavců
                    </td>
                    <td>
                        <input type="color" name="divthree" id="divthree" value="{{user_palette.divthree}}">
                    </td>
                </tr>
            </table>
            <input type="submit" value="změnit barvy">
        </form>
    </div>
</div>
{% endblock %}