{% extends 'base.html' %}

{% block head %}
<title>Programátoři</title>
<link rel="stylesheet" href="{{url_for('static', filename='css/styly.css')}}">
{% endblock %}

{% block body %} 
<div class="Center">

    <h1>
        <b>Seznam programátorů</b> 
     </h1>
    <table>
        <tr>

            <th style="padding-right:  20px;"> ID </th>
            <th style="padding-right:  20px; word-break: normal"> Jméno programátora </th>
        </tr>
            {% for programmer in programmers %}
            <tr>
                <td>
                    {{programmer.id}}
                </td>

                <td style="width: 125px; overflow-wrap: break-word; word-break: break-all;">

                    {{programmer.name}}
                </td>
                <td>
                    <a href="/programmer/delete/{{programmer.id}}"> smazat</a>
                    <a href="/programmer/update/{{programmer.id}}"> update</a>
                </td>
            </tr>
            {% endfor %}

    </table>
    <div>
        <table>
            <tr>

                <th style="padding-right:  20px;"> ID </th>
                <th style="padding-right:  20px; word-break: normal"> Jméno účtu </th>
            </tr>
            {% for usr in users %}
            <tr>
                <td>
                    {{usr.id}}
                </td>

                <td style="width: 125px; overflow-wrap: break-word; word-break: break-all;">

                    {{usr.name}}
                </td>
                <td>
                    <a href="/user/delete/{{usr.id}}"> smazat</a>
                    <a href="/user/update/{{usr.id}}"> update</a>
                </td>
            </tr>
            {% endfor %}

        </table>
    </div>
</div>

{% endblock %}