{% extends 'base.html' %}

{% block head %} 
<link rel="stylesheet" href="{{url_for('static', filename='css/styly.css')}}">
{% endblock %}

{% block body %} 
<div class="Normaldiv">

    <h1>
        <b>Seznam programátorů</b> 
     </h1>
    <table>
        <tr>

            <th style="padding-right:  20px;"> id </th>
            <th style="padding-right:  20px;"> Jméno programátora </th>
        </tr>
            {% for programmer in programmers %}
            <tr>
                <td>
                    {{programmer.id}}
                </td>

                <td style="width: 125px; overflow-wrap: break-word; word-break: break-all;">

                    {{programmer.name}}
                </td>
                <td>
                    <a href="/programmer/delete/{{programmer.id}}"> smazat</a>
                    <a href="/programmer/update/{{programmer.id}}"> update</a>
                </td>
            </tr>
            {% endfor %}

    </table>
</div>

{% endblock %}