{% extends 'base.html' %}

{% block head %}
<title>Programátoři</title>
<link rel="stylesheet" href="{{url_for('static', filename='css/styly.css')}}">
{% endblock %}

{% block body %} 
<div class="Center">

    <h1>
        <b>Seznam programátorů</b> 
    </h1>
    <div>
        <table>
            <tr>

                <th style="padding-right:  20px;"> ID </th>
                <th style="padding-right:  20px; word-break: normal"> Jméno </th>
                <th style="padding-right:  20px; word-break: normal"> Pravomoc </th>
                <th style="padding-right:  20px; word-break: normal"> Email </th>

            </tr>
            {% for usr in users %}
            <tr>
                <td>
                    {{usr.id}}
                </td>

                <td style="width: 125px; overflow-wrap: break-word; word-break: break-all;">

                    {{usr.name}}
                </td>
                {% if user.auth <= 1 or user.id == usr.id %}
                <td>
                    {{usr.auth}}
                </td>
                {% else %}
                <td>
                    -----
                </td>
                {% endif %}
                {% if user.auth <= 1 or user.id == usr.id %}
                <td>
                    {{usr.email}}
                </td>
                {% else %}
                <td>
                    -----
                </td>
                {% endif %}
                {% if user.auth <= 1 %}
                <td>
                    <a href="/user/delete/{{usr.id}}" class="smazat"> smazat</a>
                    <a href="/user/update/{{usr.id}}"> update</a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}

        </table>
    </div>
</div>

{% endblock %}