{% extends 'base.html' %}

{% block head %}
<TITLE>Nastavení</TITLE>
<LINK rel="stylesheet" href="{{url_for('static', filename='css/styly.css')}}" >

{% endblock %}

{% block body %}

<DIV >
    <H1>Nastavení</H1>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <P class="{{ category }}">{{ message }}</P>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <H2>Barvy</H2>
    <FORM action="/settings/" method="post">
        <TABLE>
            <TR>
                <TD>
                    <H3>Text</H3>
                </TD>
            </TR>
            <TR>
                <TD>
                    Odstavce
                </TD>
                <TD>
                    <INPUT type="color" name="text" id="text" value="{{palette.text}}">
                </TD>
            </TR>
            <TR>
                <TD>
                    Nadpisy
                </TD>
                <TD>
                    <INPUT type="color" name="header" id="header" value="{{palette.header}}">
                </TD>
            </TR>
            <TR>
                <TD>
                    <H3>Horní lišta</H3>
                </TD>

            </TR>
            <TR>
                <TD>
                    Základ
                </TD>
                <TD>
                    <INPUT type="color" name="base" id="base" value="{{palette.base}}">
                </TD>
            </TR>
            <TR>
                <TD>
                    Aktivní
                </TD>
                <TD>
                    <INPUT type="color" name="selected" id="selected" value="{{palette.selected}}">
                </TD>
            </TR>
            <TR>
                <TD>
                    Přejetí myši
                </TD>
                <TD>
                    <INPUT type="color" name="hover" id="hover" value="{{palette.hover}}">
                </TD>
            </TR>
            <TR>
                <TD>
                    <H3>Pozadí</H3>
                </TD>
            </TR>
            <TR>
                <TD>
                    Aplikace
                </TD>
                <TD>
                    <INPUT type="color" name="body" id="body" value="{{palette.body}}">
                </TD>
            </TR>
            <TR>
                <TD>
                    Jednoho odstavce
                </TD>
                <TD>
                    <INPUT type="color" name="divone" id="divone" value="{{palette.divone}}">
                </TD>
            </TR>
            <TR>
                <TD>
                    Dvou odstavců
                </TD>
                <TD>
                    <INPUT type="color" name="divtwo" id="divtwo" value="{{palette.divtwo}}">
                </TD>
            </TR>
            <TR>
                <TD>
                    Tří odstavců
                </TD>
                <TD>
                    <INPUT type="color" name="divthree" id="divthree" value="{{palette.divthree}}">
                </TD>
            </TR>
            <TR>
                <TD>
                    <LABEL for="in_use">použít</LABEL>  
                </TD>
                <TD>
                    <INPUT type="checkbox" name="in_use" id="in_use"  checked>
                </TD>
            </TR>
        </TABLE>
        <INPUT type="submit" value="Změnit Barvy" width="auto">
    </FORM>
</DIV>
{% endblock %}
