{% extends 'base.html' %}

{% block head %}
<title>Nastavení</title>
<link rel="stylesheet" href="{{url_for('static', filename='css/styly.css')}}" >

{% endblock %}

{% block body %}

<div >
    <h1>Nastavení</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <p class="{{ category }}">{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <h2>Barvy</h2>
    <form action="/settings/" method="post">
        <table>
            <tr>
                <td>
                    <h3>Text</h3>
                </td>
            </tr>
            <tr>
                <td>
                    Odstavce
                </td>
                <td>
                    <input type="color" name="text" id="text" value="{{palette.text}}">
                </td>
            </tr>
            <tr>
                <td>
                    Nadpisy
                </td>
                <td>
                    <input type="color" name="header" id="header" value="{{palette.header}}">
                </td>
            </tr>
            <tr>
                <td>
                    <h3>Horní lišta</h3>
                </td>

            </tr>
            <tr>
                <td>
                    Základ
                </td>
                <td>
                    <input type="color" name="base" id="base" value="{{palette.base}}">
                </td>
            </tr>
            <tr>
                <td>
                    Aktivní
                </td>
                <td>
                    <input type="color" name="selected" id="selected" value="{{palette.selected}}">
                </td>
            </tr>
            <tr>
                <td>
                    Přejetí myši
                </td>
                <td>
                    <input type="color" name="hover" id="hover" value="{{palette.hover}}">
                </td>
            </tr>
            <tr>
                <td>
                    <h3>Pozadí</h3>
                </td>
            </tr>
            <tr>
                <td>
                    Aplikace
                </td>
                <td>
                    <input type="color" name="body" id="body" value="{{palette.body}}">
                </td>
            </tr>
            <tr>
                <td>
                    Jednoho odstavce
                </td>
                <td>
                    <input type="color" name="divone" id="divone" value="{{palette.divone}}">
                </td>
            </tr>
            <tr>
                <td>
                    Dvou odstavců
                </td>
                <td>
                    <input type="color" name="divtwo" id="divtwo" value="{{palette.divtwo}}">
                </td>
            </tr>
            <tr>
                <td>
                    Tří odstavců
                </td>
                <td>
                    <input type="color" name="divthree" id="divthree" value="{{palette.divthree}}">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="in_use">použít</label>  
                </td>
                <td>
                    <input type="checkbox" name="in_use" id="in_use"  checked>
                </td>
            </tr>
        </table>
        <input type="submit" value="Změnit Barvy" width="auto">
    </form>
</div>
{% endblock %}