{% extends 'base.html' %}

{% block head %}
<title>Vytvořit účet</title>
<link rel="stylesheet" href="{{url_for('static', filename='css/styly.css')}}">
{% endblock %}

{% block body %}
<div >
    <form action="/signup" method="post">

         <h1>
           <b>Vytvořit účet</b>
        </h1>
        <h3>
            <b> všechna pole jsou povinná </b>
        </h3>
        <br>
        <table>
            <tr>
                <td>
                    jméno
                </td>
                <td>
                    <input type="name" placeholder="Mirek Dušín" id="name" name="name" required>
                </td>
            </tr>
            <tr>
                <td>
                    email
                </td>
                <td>
                    <input type="email" id="email" name="email" required>
                </td>
            </tr>
            <tr>
                <td>
                    heslo
                </td>
                <td>
                    <input type="password" id="password" name="password" required>
                </td>
            </tr>
            <tr>
                <td>
                    pravomoce
                </td>
                <td>
                    <input type="number" step="1" id="auth" name="auth" required>
                </td>
            </tr>
        </table>
        <br>
        <p style="text-align: center;">      <input type="submit" value="vytvořit"> </p>
        <br>
    </form>

{% endblock %}
