<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Statistiky</title>
</head>
<body>
    <!-- <div style="height: 50vh; width: 50%;">
        <canvas id="myChart"></canvas>
    </div> -->
    <h1>STATISTIKY</h1>
    <table style="width: 100%;">
        <tr>
            <th>
                Uptime
            </th>
            <th>
                Verze
            </th>
            <th>
                Celkový počet commitů
            </th>
        </tr>
        <tr>
            <td>DD dnů HH:MM:SS</td>
            <td>Verze_Placeholder</td>
            <TD>CelkPočCommit</TD>
        </tr>
    </table>
    <table style="width: 100%;">
        <tr><th>Poslední Commit:</th> <th>Od:</th></tr>
        <tr><td>InitialCommit</td><td>Programátor 01</td></tr>
    </table>
</body>
</html>