<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Statistiky</title>
</head>
<body>
    
    <h1>STATISTIKY</h1>
    <table style="width: 100%;">
        <tr>
            <th>
                Uptime
            </th>
            <th>
                Verze
            </th>
            <th>
                Celkový počet commitů
            </th>
        </tr>
        <tr>
            <td>DD dnů HH:MM:SS</td>
            <td>Verze_Placeholder</td>
            <TD>{{commit_num}}</TD>
            <td>nej programator: {{bestProgrammer.name}} {{bestProgrammer.surname}} ({{bestProgrammer.changes}} zmen)</td>
        </tr>
    </table>
    <table style="width: 100%;">
        <tr><th>Poslední Commit:</th> <th>Od:</th></tr>
        <tr><td>InitialCommit</td><td>Programátor 01</td></tr>
    </table>
    
    <div style="height: 50vh; width: 50%;">
        <canvas id="myChart"></canvas>
    </div>
    <div style="height: 50vh; width: 50%;">
        <canvas id="myChart2"></canvas>
    </div>
    <script>
        const labels = {{ labels | tojson}};
 
        const data = {
            labels: labels,
            datasets: [{
                label: 'Přidané',
                backgroundColor: 'rgba(0, 255, 0, 0.2)',
                borderColor: 'rgb(0, 255, 0)',
                data: {{ data | tojson}},
            }]
        };
 
        const config = {
            type: 'bar',
            data: data,
            options: { maintainAspectRatio: false }
        };
 
        const myChart = new Chart(
            document.getElementById('myChart'),
            config
        );
 
    </script>
    <!--POD tímto je graf pro odebrané-->
    <script>
        const labels = {{ labels | tojson}};
 
        const data = {
            labels: labels,
            datasets: [{
                label: 'Odebrané',
                backgroundColor: 'rgba(255, 0, 0, 0.2)',
                borderColor: 'rgb(255, 0, 0)',
                data: {{ data | tojson}},
            }]
        };
 
        const config = {
            type: 'bar',
            data: data,
            options: { maintainAspectRatio: false }
        };
 
        const myChart = new Chart(
            document.getElementById('myChart2'),
            config
        );
 
    </script>
</body>
</html>