<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Statistiky</title>
</head>
<body>
    
    <h1>STATISTIKY</h1>
    <table style="width: 100%;">
        <tr>
            <th>
                Uptime
            </th>
            <th>
                Version
            </th>
            <th>
                Total Amount of Commit
            </th>
        </tr>
        <tr>
            <td>DD dnů HH:MM:SS</td>
            <td>Verze_Placeholder</td>
            <TD>{{commit_num}}</TD>
            <td>nej programator: {{bestProgrammer.name}} {{bestProgrammer.surname}} ({{bestProgrammer.changes}} zmen)</td>
        </tr>
    </table>
    <table style="width: 100%;">
        <tr><th>Last Commit:</th></tr>
        <tr>
            <table>
                <tr>
                    <th>From:</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Lines added</th>
                    <th>Lines removed</th>
                </tr>
                <tr>
                    <td>{{latest_commit.creator_id}}</td>
                    <td>{{latest_commit.description}}</td>
                    <td>{{latest_commit.date}}</td>
                    <td>{{latest_commit.lines_added}}</td>
                    <td>{{latest_commit.lines_removed}}</td>
                </tr>
            </table>
        </tr>
    </table>
    
    <div style="height: 50vh; width: 50%;">
        <canvas id="myChart"></canvas>
    </div>
    <script>
        const label = {{ labels | tojson}};
 
        const data = {
            labels: label,
            datasets: [{
                label: 'Přidané',
                backgroundColor: 'rgba(0, 255, 0, 0.2)',
                borderColor: 'rgb(0, 255, 0)',
                data: {{ data | tojson}},
            }]
        };
 
        const config = {
            type: 'bar',
            data: data,
            options: {
                maintainAspectRatio: false,
                
        
    }
        };
 
        const myChart = new Chart(
            document.getElementById('myChart'),
            config
        );
 
    </script>

</body>
</html>