body
{
    background-color: black;
    color: white;
}
div
{
    background-color: grey;
    text-align: center;
    font-size: 16;
    width: 25%;
    margin: 0 auto;

}
table
{
    margin: auto; align-self: center;
}
button
{
    width: 100px; height: 25px; color: black;
}
