{% extends 'base.html' %}

{% block head %} 
<link rel="stylesheet" href="{{url_for('static', filename='css/styly.css')}}">
{% endblock %}

{% block body %} 
<form action="/update-add/{{record.id}}" method="post">
    <div class="Center">


     <h1>
       <b>Upravit záznam</b> 
    </h1>
    <br>
<table>
        <tr>
        <td>
        Programátor
    </td>
    <td>

    <input type="text" placeholder="jméno" id="name" name="name" value="{{record.name}}">

        <select name="name" >
            {% for programmer in programmers %}
            <option value="{{programmer.id}}" 
            {% if programmer.id == record.name %}
                selected
            {% endif %}
            >{{programmer.name}}</option>
            {% endfor %}
        </select>

    </tr>
    <tr>
</td>
    <td>
                Co se dělalo
            </td>
                <td>
            <input type="text" placeholder="co se dělalo" name="popis" value="{{record.popis}}">
        </td>
        </tr>
        <tr>
            <td>
                čas strávení v minutách
            </td>
                <td>
            <input type="number" placeholder="čas" name="time_spent" value="{{record.time_spent}}">
        </td>
        </tr>
        </tr>
            <td>
                Programovací jazyk
            </td>
         <td>
            <select name="jazyk_id">
                {% for language in languages %}
                <option value="{{language.id}}" 
                {% if language.id == record.jazyk_id %}
                selected
                {% endif %}>{{language.name}}</option>
                {% endfor %}
            </select>
        </td>
        </tr>
        <tr>
        <td>
                datum
        </td>
        <td>
            <input type="date" placeholder="datum" name="date" value="{{record.date}}">
             </td>
            </tr>
            <tr>
            <td>
                Škála hodnocení naši práce
            </td>
            <td>
                {% for i in range(5) %}
                    <input type="radio" Name = "hodnoceni" value="{{i+1}}" 
                    {% if i+1 == record.hodnoceni %}
                        checked
                    {% endif %}
                    >{{i+1}}
                {% endfor %}
            </td>
        </tr>

        <tr>
            <td> Štítky </td>
            <td>
                {% for tag in tags %}
                    <label for="{{tag.id}}" style="color: {{tag.barva}};">{{tag.name}}</label>
                    <input type="checkbox" id="{{tag.id}}" name="{{tag.id}}"
                    {% for cat in cats %}
                        {% if cat.owned_id == record.id and cat.type_id == tag.id %}
                            checked
                        {% endif %}
                    {% endfor %}>
                {% endfor %}
            </td>
        </tr>

    </table>
            <h3>
                
                    <input type="submit" value="upravit">
                
           
        </h3>
        <br>
</div>
</form>

{% endblock %}
