{% extends 'base.html' %}

{% block head %}
<title>Upravit Jazyk</title>
<link rel="stylesheet" href="{{url_for('static', filename='css/styly.css')}}">
{% endblock %}

{% block body %}
<div class="Center">
    <form action="/language/update/{{language_to_update.id}}" method="post">

        <h1><b>Upravit programátorský jazyk ve výběru</b></h1>

        <h3><b> všechna pole jsou povinná </b></h3>

        <br>

        <table>
            <tr>

                <td>Název jazyku</td>

                <td>
                    <input type="text" placeholder="název jazyku" id="name" name="name" required value="{{language_to_update.name}}">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="upravit">
                </td>
            </tr>
        </table>
    </form>


    <table>
        <tr>
            <th> ID </th>
            <th> název jazyku </th>
        </tr>
        {% for language in languages %}
        <tr>
            <td>
                {{language.id}}
            </td>
            <td>
                {{language.name}}
            </td>
            <td>
            <a href="/language/delete/{{language.id}}"> smazat</a>
            <a href="/language/update/{{language.id}}"> upravit</a>
            </td>
        </tr>
    {% endfor %}

    </table>
</div>

{% endblock %}
