{% extends 'base.html' %}

{% block head %}
<title>Upravit Kategorii</title>
<link rel="stylesheet" href="{{url_for('static', filename='css/styly.css')}}">
{% endblock %}

{% block body %}
<div class="Center">
    <form action="/cat/update/{{tag_to_update.id}}" method="post">

     <h1>
       <b>Upravit štítek ve výběru</b> 
    </h1>
    <h3>
        <b> všechna pole jsou povinná </b> 
    </h3>
    <br>
<table>
    <tr>
        <td>Název štítku</td>
        <td>
            <input type="text" placeholder="název štítku" id="name" name="name" required value="{{tag_to_update.name}}">
        </td>
    </tr>
    <tr>
        <td>Barva štítku</td>
        <td>
            <input type="color" id="barva" Name = "barva" value="{{tag_to_update.barva}}" required>          
        </td>
    </tr>
    <tr>
        <td>Popis štítku</td>
        <td>
            <input type="text" placeholder="popis štítku" id="popis" name="popis" value="{{tag_to_update.popis}}" required>
        </td>
    </tr>
</table>
    <h3>   
        <br>
        <input type="submit" value="upravit">
    
    </h3>
</form>
    <table>
        <tr>
            <th> id </th>
            <th> Název štítku </th>
            <th> Barva štítku</th>
            <th> Popis štítku</th>
        </tr>
            {% for tag in tags %}
            <tr>
                <td>
                    {{tag.id}}
                </td>
                <td>
                    {{tag.name}}
                </td>
                <td>
                    {{tag.barva}}
                </td>
                <td>
                    {{tag.popis}}
                </td>
                <td>
                    <a href="/cat/delete/{{tag.id}}"> smazat</a>
                    <a href="/cat/update/{{tag.id}}"> update</a>
                </td>
            </tr>
            {% endfor %}

    </table>
</div>

{% endblock %}