{% extends 'base.html' %}

{% block head %} 
<link rel="stylesheet" href="{{url_for('static', filename='css/styly.css')}}" >
{% endblock %}

{% block body %}    
<div class="First">
    <h1>
      <b> Záznamy deníku </b> 
    </h1>
    <form action="/zaznamy/{{serazeni}}" method="post">
        <h2>filtry:</h2>
        <h4>jazyky</h4>
        {% for language in languages %}
            <label for="{{language.name}}">{{language.name}}</label>
            <input type="checkbox" id="{{language.id}}" name="{{language.id}}"
            {% if filtered_languages[language.id] == "on" %}
                checked
            {% endif %}
            >
            
        {% endfor %}
        <h4>Čas programování</h4>
        <label for="time_from">od</label>
        <input type="number" placeholder="od" name="time_from" value="{{min_time}}" required>
        <label for="time_to">do</label>
        <input type="number" placeholder="do" name="time_to" value="{{max_time}}" required>
        <h4>Datum</h4>
        <label for="date_from">od</label>
        <input type="date" name="date_from" value="{{min_date}}" required>
        <label for="date_from">do</label>
        <input type="date" name="date_to" value="{{max_date}}" required>
        
        <h4>Hodnocení</h4>
        <label for="hodnoceni_from">od</label>
        <input type="number" placeholder="od" name="hodnoceni_from" value="{{min_hod}}" required>
        <label for="hodnoceni_to">do</label>
        <input type="number" placeholder="do" name="hodnoceni_to" value="{{max_hod}}" required>
        <label for="name">Programátor: </label>
        <select name="name">
            <option value="0"> všichni </option>
            {% for programmer in programmers %}
            <option value="{{programmer.id}}"
            {% if programmer.id == sel_name %} selected {% endif %}>{{programmer.name}}</option>
            {% endfor %}
        </select>  
        <h4>štítky</h4>
        {% for tag in tags %}
            <label for="{{tag.id}}">{{tag.name}}</label>
            <input type="checkbox" id="{{tag.id}}" name="{{tag.id}}"
            {% if filtered_tags[tag.id] == "on" %}
                checked
            {% endif %}
            >
            
        {% endfor %}
        <input type="submit" value="filtrovat"> 
    </form>
    <form action="/zaznamy/reset-filter" method="get">
        <input type="submit" value="reset filtru"> 
    </form>
    <form action="/zaznamy/set-serazeni/" method="post">
        <h2>Seřazení:</h2>
        <select name="serazeni" >
            <option value="1" {% if serazeni == 1 %} selected {% endif %}>datum od nejdříve</option>
            <option value="2" {% if serazeni == 2 %} selected {% endif %}>datum od nejpozději</option>
            <option value="3" {% if serazeni == 3 %} selected {% endif %}>čas od nejvíce</option>
            <option value="4" {% if serazeni == 4 %} selected {% endif %}>čas od nejméně</option>
            <option value="5" {% if serazeni == 5 %} selected {% endif %}>hodnocení od nejvíce</option>
            <option value="6" {% if serazeni == 6 %} selected {% endif %}>hodnocení od nejméně</option>
            <option value="7" {% if serazeni == 7 %} selected {% endif %}>programovací jazyk</option>
        </select>
        <input type="submit" value="seřadit"> 
    </form>
    <table>
    <tr>
        <th>id</th>
        <th>jméno</th>
        <th>jazyk</th>
        <th>čas strávený v min</th>
        <th>popis</th>
        <th>datum</th>
        <th>hodnoceni</th>
        <th>Štítky</th>
        <th>možnosti</th>
    </tr>
    {% for record in records %}
    <tr>
        <td>{{record.id}}</td>
        <td>{% for programmer in programmers %}
            {% if programmer.id == record.name %}
                {{programmer.name}}
            {% endif %}
        {% endfor %}</td>
        <td>
            {% for language in languages %}
                {% if language.id == record.jazyk_id %}
                    {{language.name}}
                {% endif %}
            {% endfor %}
            </td>
        
        <td>{{record.time_spent}}</td>
        <td>{{record.popis}}</td>
        <td>{{record.date}}</td>
        <td>{{record.hodnoceni}}</td>
        <td>
            {% for cat in cats %}
                {% if cat.owned_id == record.id %}
                    {% for tag in tags %}
                        {% if cat.type_id == tag.id %}
                            {{tag.name}} <br>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </td>
        <td> <a href="/update-form/{{record.id}}"> upravit</a>  <br>
            <a href="/delete/{{record.id}}"> smazat</a>  </td>
    </tr>
    {% endfor %}
    </table>
</div>

{% endblock %}