{% extends 'base.html' %}

{% block head %} 
<link rel="stylesheet" href="{{url_for('static', filename='css/styly.css')}}" >
{% endblock %}

{% block body %}    
<div class="First">
    <h1>
      <b> Záznamy deníku </b> 
    </h1>
    <form action="/zaznamy/{{serazeni}}" method="post">
        <h2>filtry:</h2>
        <h4>jazyky</h4>
        {% for language in languages %}
            <label for="{{language.name}}">{{language.name}}</label>
            <input type="checkbox" id="{{language.id}}" name="{{language.id}}"
            {% if filtered_languages[language.id] == "on" %}
                checked
            {% endif %}
            >
            
        {% endfor %}
        <br>
        <br>
        <h4>Čas programování</h4>
        <label for="time_from">od</label>
        <input type="number" placeholder="od" name="time_from" value="{{min_time}}" required style="width: 55px;">
        <label for="time_to">do</label>
        <input type="number" placeholder="do" name="time_to" value="{{max_time}}" required style="width: 55px;">
        <br>
        <br>
        <h4>Datum</h4>
        <label for="date_from">od</label>
        <input type="date" name="date_from" value="{{min_date}}" required>
        <label for="date_from">do</label>
        <input type="date" name="date_to" value="{{max_date}}" required>
        <br>
        <br>
        <h4>Hodnocení</h4>
        <label for="hodnoceni_from">od</label>
        <input type="number" placeholder="od" name="hodnoceni_from" value="{{min_hod}}" required style="width: 55px;">
        <label for="hodnoceni_to">do</label>
        <input type="number" placeholder="do" name="hodnoceni_to" value="{{max_hod}}" required style="width: 55px;">
        <br>
        <br>
       <h4> Programátor</h4>
        <select name="name" style="width: 200px;">
            <option value="0"> všichni </option>
            {% for programmer in programmers %}
            <option value="{{programmer.id}}"
            {% if programmer.id == sel_name %} selected {% endif %}>{{programmer.name}}</option>
            {% endfor %}
        </select>
        <br>  
        <br>
       <p style="text-align: center;" ><input type="submit" value="filtrovat"> </p>
    </form>
    <form action="/zaznamy/reset-filter" method="get">
        <p style="text-align: center;" >    <input type="submit" value="reset filtru"> </p>
    </form>
</div>

<div class="Divse">
    <form action="/zaznamy/set-serazeni/" method="post">
        <h2>Seřazení:</h2>
        <select name="serazeni" >
            <option value="1" {% if serazeni == 1 %} selected {% endif %}>datum od nejdříve</option>
            <option value="2" {% if serazeni == 2 %} selected {% endif %}>datum od nejpozději</option>
            <option value="3" {% if serazeni == 3 %} selected {% endif %}>čas od nejvíce</option>
            <option value="4" {% if serazeni == 4 %} selected {% endif %}>čas od nejméně</option>
            <option value="5" {% if serazeni == 5 %} selected {% endif %}>hodnocení od nejvíce</option>
            <option value="6" {% if serazeni == 6 %} selected {% endif %}>hodnocení od nejméně</option>
            <option value="7" {% if serazeni == 7 %} selected {% endif %}>programovací jazyk</option>
        </select>
        <input type="submit" value="seřadit"> 
    </form>
</div>

<div class="Divthi">
    <table>
    <tr>
        <th style="padding-right:  20px; text-align: left;">id</th>
        <th style="padding-right:  20px; text-align: left;">jméno</th>
        <th style="padding-right:  20px; text-align: left;">jazyk</th>
        <th style="padding-right:  20px; text-align: left;">čas strávený v min</th>
        <th style="text-align: left;">popis</th>
        <th style="padding-right:  30px; text-align: left;">datum</th>
        <th style="padding-right:  30px; text-align: left;">hodnoceni</th>
        <th style="padding-right:  30px; text-align: left;">Štítky</th>
        <th style="padding-right:  30px; text-align: left;">možnosti</th>
    </tr>
    {% for record in records %}
    <tr>
        <td>{{record.id}}</td>
        <td style=" width: 125px; overflow-wrap: break-word; word-break: break-all;">{% for programmer in programmers %}
            {% if programmer.id == record.name %}
                {{programmer.name}}
            {% endif %}
        {% endfor %}</td>
        <td style=" text-align: center;">
            {% for language in languages %}
                {% if language.id == record.jazyk_id %}
                    {{language.name}}
                {% endif %}
            {% endfor %}
            </td>
        
        <td style="text-align: center;">{{record.time_spent}}</td>
        <td style=" width: 200px; word-wrap: break-word; word-break: break-all;">{{record.popis}}</td>
        <td>{{record.date}}</td>
        <td style="text-align: center;">{{record.hodnoceni}}</td>
        <td>
            {% for cat in cats %}
                {% if cat.owned_id == record.id %}
                    {% for tag in tags %}
                        {% if cat.type_id == tag.id %}
                            {{tag.name}}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </td>
        <td> <a href="/update-form/{{record.id}}"> upravit</a>  <br>
            <a href="/delete/{{record.id}}"> smazat</a>  </td>
    </tr>
    {% endfor %}
    </table>
</div>

{% endblock %}